<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication2</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->

    <table id="contentTable" class="table">
        <!--JS will load this area.-->
    </table>
    <div>
        <button class="btn-dark" id="getSubmitButton">Refresh</button>
    </div>

    <div style="padding-top : 20px">
        <h1>POST</h1>
        <form action="javascript:void(0);" method="post">
            <label for="dateInput">Date:</label>
            <input type="datetime-local" id="dateInput" name="dateInput" /> <br />
            <label for="celsiusInput">Celsius:</label>
            <input type="number" id="celsiusInput" name="celsiusInput" /> <br />
            <label for="summaryInput">Summary:</label>
            <input type="text" id="summaryInput" name="summaryInput" /> <br />
            <input type="submit" id="postSubmitButton" value="Create New" />
        </form>
    </div>

    <br />

    <div style="padding-top : 20px">
        <h1>UPDATE</h1>
        <form action="javascript:void(0);" method="post">
            <select id="changeIdCombobox" selected=""></select>
            <label for="dateInputChange">Date:</label>
            <input type="datetime-local" id="dateInputChange" name="dateInputChange" /> <br />
            <label for="celsiusInputChange">Celsius:</label>
            <input type="number" id="celsiusInputChange" name="celsiusInputChange" /> <br />
            <label for="summaryInputChange">Summary:</label>
            <input type="text" id="summaryInputChange" name="summaryInputChange" /> <br />
            <input type="submit" id="updateSubmitButton" value="Modify" />
        </form>
    </div>

    <br />

    <div style="padding-top : 20px">
        <h1>DELETE</h1>
        <form action="javascript:void(0);" method="post">
            <select id="deleteIdCombobox" selected=""></select>            
            <input type="submit" id="deleteSubmitButton" value="Delete" />
        </form>
    </div>

    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
